<html>
<head>
    <meta charset="utf-8" />

    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}">
    {% endif %}{% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}">
    {% endif %}
	
	<link rel="stylesheet" href="{{ theme_url }}/css/style.css" type="text/css">
</head>


<body>
<div class="layout">
	<div id="header">
		<a href="{{ "index"|link }}">{{ site_title }}</a>
	</div>
	<div id="navbar">
		<ul class="nav">
      <li><a href="{{ base_url }}"> &laquo; Go to top </a></li> 
      <li><a href="/my205si"> &laquo; Back to blog </a></li>
			{% for page in pages |sort_by("time")|reverse %}
			  {% if page.id starts with "my 205 si/" and not page.hidden %}
				  <li{% if page.id == current_page.id %} id="active"{% endif %}>
					  <a href="{{ page.url }}">{{ page.title }} {% if page.id == current_page.id %} &laquo; {% endif %}</a>
				  </li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	<div id="content">
		<div class="inner">
			{{ content }}
		</div>
	</div>
</div> 
</body>
</html>