<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}">
    {% endif %}{% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}">
    {% endif %}
	
	<link rel="stylesheet" href="{{ theme_url }}/css/style.css" type="text/css">
	
	<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [ ['$','$'] ],
        displayMath: [ ['$$','$$'] ],
        skipTags: ["script","noscript","style","textarea"]
      }
    });
    MathJax.Hub.Queue(function () {
      $('.MathJax_Preview').parent().css('border','none').css('background','none').css('color','black');
      $('.MathJax_Display').css('margin','-1em 0 -1em 0');
    });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML"></script>
  
</head>


<body>
<div class="layout">
	<div id="header">
	  {% if meta.image %}
	    <img src="{{ meta.image|url }}">
    {% else %}
      <img src="{{ theme_url }}/assets/fff.png">
    {% endif %}
		<a href="{{ "index"|link }}">{{ site_title|raw }}</a>
	</div>
	<div class="wrapper">
	<div id="navbar">
		<ul class="nav">
                                <li><a href="{{ base_url }}"> &laquo; Go to top </a></li> 
                                <li><a href="{{ previous_page.url }}"> &laquo; Go to previous </a></li>
		</ul>
	</div>
	<div id="content">
		<div class="inner">
			{{ content }}
		</div>
	</div>
  </div>
</div> 
</body>
</html>
