<!DOCTYPE html>
<html>
<head>
  {{ include('head.twig') }}
</head>


<body>
<div class="layout">
	<div id="header">
	  {% if meta.image %}
	    <img src="{{ meta.image|url }}">
    {% else %}
      <img src="{{ theme_url }}/assets/fff.png">
    {% endif %}
   <a href="{{ "index"|link }}">{{ site_title|raw }}</a>
	</div>
	<div class="wrapper">
	<div id="navbar">
		<ul class="nav">
		   <li><a href="{{ base_url }}"> &laquo; Go to top </a></li>
		   <li><a href="{{ previous_page.url }}"> &laquo; Go to previous </a></li>
			{% for node in current_page.tree_node.children %}
				<li>
				  <a href="{{ node.page.url }}">{{ node.page.title }} {% if page.id == current_page.id %} &laquo; {% endif %}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div id="content">
		<div class="inner">
			{{ content }}
		</div>
	</div>
  </div>
</div> 
</body>
</html>
